{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "parser": "babel-eslint",
    "plugins": [
        "babel"
    ],
    "rules": {
        "linebreak-style": "off",
        "react/jsx-filename-extension": "off",
        "import/prefer-default-export": "off"
    }
}